services:
	command.one: Tests\OriNette\Console\Doubles\DefaultNameCommand
	command.two: Tests\OriNette\Console\Doubles\DefaultNameCommand
	command.three: stdClass

	loader:
		factory: OriNette\Console\DI\LazyCommandLoader
		arguments:
			serviceMap:
				one: command.one
				two: command.two
				three: command.three
