extensions:
	console: OriNette\Console\DI\ConsoleExtension

console:
	discovery:
		tag: customTag

services:
	command.notTagged:
		factory: Tests\OriNette\Console\Doubles\SimpleCommand

	command.defaultTag:
		factory: Tests\OriNette\Console\Doubles\SimpleCommand
		tags:
			console.command: []

	command.tagged:
		factory: Tests\OriNette\Console\Doubles\DefaultNameCommand
		tags:
			customTag:
				command: tagged
				description: Fully tagged

	command.tagged.noOptions:
		factory: Tests\OriNette\Console\Doubles\DefaultBothCommand
		tags:
			customTag: []

	console.command.diParameters:
		tags:
			customTag: 'di:parameters:renamed'
