extensions:
	console: OriNette\Console\DI\ConsoleExtension
	di: Nette\DI\Extensions\DIExtension

console:
	name: Name
	version: Version
	catchExceptions: false
	di:
		parameters:
			backup: true

di:
	export:
		parameters: false
		tags: false
		types: false

services:
	command.lazy:
		factory: Tests\OriNette\Console\Doubles\LazyCommand
	command.lazy.tagged:
		factory: Tests\OriNette\Console\Doubles\LazyCommand
		tags:
			console.command: tests:lazy-tagged
	command.notLazy.tagged:
		factory: Tests\OriNette\Console\Doubles\NotLazyCommand
		tags:
			console.command: tests:notLazy-tagged

